* {
  margin: 0;
  padding: 0;
}

:root {
  --color: #FFFFFF;
  --primary-color: #6200EE;
}

@font-face {
  font-family: "RobotoMono";
  src: url(assets/fonts/RobotoMono-Light.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(assets/fonts/Raleway-Light.ttf);
}

body {
  font-family: "RobotoMono";
}

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  min-width: 600px;
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
}

.header-container {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  min-width: 400px;
  max-width: 600px;
  flex: 1 1;
}

ul {
  list-style: none;
}

.filter-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-item {
  padding: 5px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.filter-item label {
  flex: 1;
}

.filter-item input {
  flex: 3;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-basis: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.photo-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.photo-buttons a {
  text-decoration: none;
  color: #000000;
}

.filtered-photo {
  width: 100%;
}

#load-image {
  display: none;
}

.advanced {
  min-height: 100px;
  max-width: 100%;
  flex-basis: 100%;
}

.filter-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.filter-field {
  display: flex;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
}

.filter-text {
  text-align: center;
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.clipboard-button {
  flex-shrink: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  background-image: url("assets/img/clipboard.png"); 
  background-position: 50% 50%;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  border: none;
  border-left: 2px solid black;
  border-radius: 0;
  cursor: pointer;
}

input[type="range"] {
  border: 1px solid black;
  border-radius: 8px;
  height: 5px;
  outline: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: black;
  transition: All .7s;
}

.presets-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s;
}

.show-presets {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
}

.show-presets span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -750%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.presets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  list-style: none;
}

.preset-item {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50% 0;
  cursor: pointer;
  transition: box-shadow .5s;
}

.preset-item:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .7);
}

.preset-item-title {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 76%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .5);
  color: black;
}

footer {
  min-height: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container a {
  display: block;
  height: 50px;
}

.footer-container img {
  height: 100%;
}